<h1 id="tableLabel">Books</h1>

<p *ngIf="!books"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="books">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Published</th>
      <th>Publisher</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of books">
      <td>{{ s.id }}</td>
      <td>{{ s.title }}</td>
      <td>{{ s.author }}</td>
      <td>{{ s.published | date: 'shortDate' }}</td>
      <td>{{ s.publisher }}</td>
    </tr>
  </tbody>
</table>
Title
<input [(ngModel)]="newBook.title" name="title"/>
Author
<input [(ngModel)]="newBook.author" name="author"/>
Published
<input type="date" [(ngModel)]="newBook.published" name="published"/>
Publisher
<input [(ngModel)]="newBook.publisher" name="publisher"/>
<button (click)="save()">Save</button>
